.mainDiv {
  padding: 20px 0px;
}

.topGrnForm {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.leftGrnForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.leftGrnSubForm {
  display: flex;
  gap: 20px;
}

.leftGrnFormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rightGrnForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rightGrnFormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottomGrnForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #9d9d9d;
  gap: 20px;
}

.bottomGrnTopForm {
  display: flex;
  width: 100%;
  gap: 20px;
}

.bottomGrnFormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottomGrnDownForm {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
  width: 100%;
}

.buttonGroup button {
  width: 100%;
}

.leftGrnFormInput input {
  padding: 10px;
  background: #eee;
  border: none;
  border-radius: 10px;
  outline: none;
}

.leftGrnFormInput select {
  padding: 10px;

  background: #eee;
  border: none;
  border-radius: 10px;
  outline: none;
}

.rightGrnFormInput input,
.rightGrnFormInput textarea {
  padding: 10px;
  background: #eee;
  border: none;
  border-radius: 10px;
  outline: none;
}

.bottomGrnFormInput input {
  padding: 10px;
  background: #eee;
  border: none;
  border-radius: 10px;
  outline: none;
}

.buttonGroup {
  display: flex;
  align-items: flex-end;
}
.buttonGroup button {
  padding: 10px;
  height: max-content;
  cursor: pointer;
  border-radius: 10px;
}

.submitButton {
  border: none;
  background: #ee8c21;
  color: #fff;
}

.editButton,
.deleteButton {
  border: 1px solid #ee8c21;
  background: transparent;
  color: #ee8c21;
}
