.mainDiv{
}

.componentDiv{

}

.dashboardCardList{
    /* background: rebeccapurple; */
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}