.viewForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.topInvoiceView{
  display: flex;
  gap: 30px;
}
.bottomInvoiceView{
  display: flex;
  gap: 30px;
}

.bottomGrnFormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bottomGrnFormInput input {
  padding: 10px;
  background: #eee;
  border: none;
  border-radius: 10px;
  outline: none;
}

.bottomGrnFormInput select {
  padding: 10px;
  background: #eee;
  border: none;
  border-radius: 10px;
  outline: none;
}

.buttonGroup {
  display: flex;
  align-items: flex-end;
}
.buttonGroup button {
  padding: 10px;
  height: max-content;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
}

.submitButton {
  border: none;
  background: #ee8c21;
  color: #fff;
}

.viewTable {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
